crates/rustyfix-dictionary/src/resources/repositories/FIXRepository_FIX.5.0SP2_EP254/Unified/FixPhrases.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 rel. 2 (http://www.altova.com) by Jim Northey (The LaSalle Technology Group, LLC) -->
<!--W3C Schema generated by XMLSpy v2008 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="repositorytypes.xsd"/>

	<xs:simpleType name="purpose_t">
		<xs:annotation>
			<xs:documentation>Permitted text purposes</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="SYNOPSIS"/>
			<xs:enumeration value="ELABORATION"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:attributeGroup name="entityAttribGrp">
		<xs:attribute name="id" type="id_t" use="optional"/>
		<xs:attribute name="deprecated" type="Version_t" use="optional"/>
		<xs:attribute name="whenAdded" type="Version_t" use="optional"/>
		<xs:attribute name="lastModified" type="Version_t" use="optional"/>
		<xs:attribute name="changeType" type="changeType_t" use="optional"/>
		<xs:attribute name="custom" type="BOOL_t" use="optional"/>
		<xs:attribute name="supported" type="BOOL_t" use="optional"/>
		<xs:attribute name="textId" type="textId_t" use="optional"/>
		<xs:attribute name="discussionId" type="textId_t" use="optional"/>
	</xs:attributeGroup>
	<xs:element name="text">
		<xs:complexType mixed="true">
			<xs:sequence>
				<xs:any processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="langId" type="language_t" use="optional"/>
			<xs:attribute name="purpose" type="purpose_t" use="optional"/>
			<xs:attributeGroup ref="entityAttribGrp"/>
			<!-- Ability to classify the purpose for a given  text block -->
		</xs:complexType>
	</xs:element>
	<xs:element name="phrases">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="phrase" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="langId" type="language_t" use="required"/>
			<xs:attribute name="version" type="Version_t" use="required"/>
			<xs:attribute name="guid" type="xs:string" use="optional"/>
			<xs:attribute name="customVersion" type="xs:string" use="optional"/>
			<xs:attribute name="generated" type="xs:dateTime" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="phrase">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="text" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attributeGroup ref="entityAttribGrp"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
