crates/rustyfix-dictionary/src/resources/repositories/FIXRepository_FIX.5.0SP2_EP254/Unified/FixRepository.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 2 (x64) (http://www.altova.com) by Philip Oliver (Oliver Computing LLC) -->
<!--W3C Schema generated by XMLSpy v2008 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="repositorytypes.xsd"/>
	<xs:attributeGroup name="containerAttribGrp">
		<xs:attribute name="latestEP" type="EP_t"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="entityAttribGrp">
		<xs:attribute name="added" type="Version_t" use="optional"/>
		<xs:attribute name="addedEP" type="EP_t" use="optional"/>
		<xs:attribute name="changeType" type="changeType_t" use="optional"/>
		<xs:attribute name="custom" type="BOOL_t" use="optional"/>
		<xs:attribute name="deprecated" type="Version_t" use="optional"/>
		<xs:attribute name="deprecatedEP" type="EP_t"/>
		<xs:attribute name="elaborationTextId" type="textId_t" use="optional"/>
		<xs:attribute name="issue" type="xs:string"/>
		<xs:attribute name="lastModified" type="Version_t" use="optional"/>
		<xs:attribute name="replaced" type="Version_t"/>
		<xs:attribute name="replacedEP" type="EP_t"/>
		<xs:attribute name="supported" type="BOOL_t" use="optional"/>
		<xs:attribute name="textId" type="textId_t" use="optional"/>
		<xs:attribute name="updated" type="Version_t"/>
		<xs:attribute name="updatedEP" type="EP_t"/>
	</xs:attributeGroup>
	<!-- The abstract type (for substitution group for entities that make up components, groups, and messages) -->
	<xs:complexType name="messageEntity_t">
		<xs:attributeGroup ref="entityAttribGrp"/>
		<xs:attribute name="id" type="id_t" use="required"/>
		<xs:attribute name="name" type="xs:string" use="required"/>
		<xs:attribute name="legacyPosition" type="xs:decimal" use="required"/>
		<xs:attribute name="legacyIndent" type="xs:integer" use="required"/>
		<xs:attribute name="required" type="BOOL_t" use="optional"/>
		<xs:attribute name="requiredByImpl" type="BOOL_t" use="optional"/>
		<xs:attribute name="backwardCompatXmlName" type="xs:string"/>
		<xs:attribute name="abbrName" type="xs:string"/>
	</xs:complexType>
	<xs:element name="messageEntity" type="messageEntity_t" abstract="true"/>
	<xs:element name="enum">
		<xs:complexType>
			<xs:attribute name="value" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:NCName" use="optional"/>
			<xs:attribute name="symbolicName"/>
			<xs:attribute name="sort" type="xs:string" use="optional"/>
			<xs:attribute name="group" type="xs:string" use="optional"/>
			<xs:attributeGroup ref="entityAttribGrp"/>
			<!-- override and require a description for enumerations -->
		</xs:complexType>
	</xs:element>
	<xs:element name="messages">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="message" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attributeGroup ref="containerAttribGrp"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="message">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="messageEntity" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attributeGroup ref="entityAttribGrp"/>
			<xs:attribute name="id" type="id_t" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="msgType" type="xs:string" use="required"/>
			<xs:attribute name="category" type="xs:string" use="required"/>
			<xs:attribute name="section" type="xs:string" use="required"/>
			<xs:attribute name="abbrName" type="xs:string" use="optional"/>
			<xs:attribute name="notReqXML" type="BOOL_t" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="languages">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="language"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="language">
		<xs:complexType>
			<xs:attribute name="native" type="xs:string" use="required"/>
			<xs:attribute name="id" type="language_t" use="required"/>
			<xs:attribute name="english" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="repeatingGroup" substitutionGroup="messageEntity">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="messageEntity_t">
					<xs:sequence>
						<xs:element ref="messageEntity" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
					<xs:attribute name="implMinOccurs" type="xs:short" use="optional"/>
					<xs:attribute name="implMaxOccurs" type="xs:short" use="optional"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="fixRepository">
		<xs:complexType>
			<xs:sequence>
				<xs:sequence maxOccurs="unbounded">
					<xs:element ref="fix"/>
				</xs:sequence>
			</xs:sequence>
			<xs:attribute name="edition" type="xs:integer" use="required"/>
			<xs:attribute name="copyright" type="xs:string" use="required"/>
			<xs:attribute name="generated" type="xs:dateTime" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="fix">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="abbreviations" minOccurs="0"/>
				<xs:element ref="datatypes"/>
				<xs:element ref="categories" minOccurs="0"/>
				<xs:element ref="sections" minOccurs="0"/>
				<xs:element ref="fields"/>
				<xs:element ref="components"/>
				<xs:element ref="messages"/>
			</xs:sequence>
			<xs:attribute name="version" type="Version_t" use="required"/>
			<xs:attribute name="guid" type="xs:string" use="optional"/>
			<xs:attribute name="customVersion" type="xs:string" use="optional"/>
			<xs:attribute name="fixml" type="BOOL_t" use="required"/>
			<xs:attribute name="components" type="BOOL_t" use="required"/>
			<xs:attribute name="specUrl" type="xs:anyURI"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="abbreviations">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="abbreviation" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attributeGroup ref="containerAttribGrp"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="abbreviation">
		<xs:complexType>
			<xs:attributeGroup ref="entityAttribGrp"/>
			<xs:attribute name="abbrTerm" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="fields">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="field" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="latestEP" type="EP_t"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="field">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="enum" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attributeGroup ref="entityAttribGrp"/>
			<xs:attribute name="id" type="id_t" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="type" type="xs:string" use="required"/>
			<xs:attribute name="associatedDataTag" type="id_t"/>
			<xs:attribute name="abbrName" type="xs:string" use="optional"/>
			<xs:attribute name="baseCategory" type="CategoryID_t"/>
			<xs:attribute name="baseCategoryAbbrName" type="Name_t"/>
			<xs:attribute name="notReqXML" type="BOOL_t"/>
			<xs:attribute name="notUsed" type="BOOL_t"/>
			<xs:attribute name="enumDatatype" type="Tag_t"/>
			<xs:attribute name="unionDataType" type="UnionDataType_t"/>
			<xs:attribute name="implMinLength" type="xs:short" use="optional"/>
			<xs:attribute name="implMaxLength" type="xs:short" use="optional"/>
			<xs:attribute name="replacedByField" type="Tag_t"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="fieldRef" substitutionGroup="messageEntity">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="messageEntity_t">
					<xs:attribute name="implMinLength" type="xs:short" use="optional"/>
					<xs:attribute name="implMaxLength" type="xs:short" use="optional"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="components">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="component" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attributeGroup ref="containerAttribGrp"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="component">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="messageEntity" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attributeGroup ref="entityAttribGrp"/>
			<xs:attribute name="id" type="id_t" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="type" type="ComponentType_t" use="required"/>
			<xs:attribute name="repeating" type="BOOL_t" use="optional"/>
			<xs:attribute name="category" type="xs:string" use="optional"/>
			<xs:attribute name="abbrName" type="xs:string" use="optional"/>
			<xs:attribute name="notReqXML" type="BOOL_t" use="optional"/>
			<!-- would like to force a description of the component -->
		</xs:complexType>
	</xs:element>
	<xs:element name="componentRef" substitutionGroup="messageEntity">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="messageEntity_t">
					<xs:attribute name="inlined" type="xs:boolean" use="optional"/>
					<xs:attribute name="implMinOccurs" type="xs:short" use="optional"/>
					<xs:attribute name="implMaxOccurs" type="xs:short" use="optional"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<!-- datatypes definition -->
	<xs:element name="datatypes">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="datatype" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attributeGroup ref="containerAttribGrp"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="datatype">
		<xs:complexType>
			<xs:sequence>
				<!-- should be moved to phrases and then referenced via textId attribute instead -->
				<xs:element name="Example" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="XML" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="baseType" type="xs:string"/>
			<xs:attributeGroup ref="entityAttribGrp"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="XML">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Example" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="builtin" type="xs:string" use="required"/>
			<xs:attribute name="base" type="xs:string" use="required"/>
			<xs:attribute name="pattern" type="xs:string"/>
			<xs:attribute name="minInclusive" type="xs:string"/>
			<xs:attribute name="textId" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<!-- Categories definition -->
	<xs:element name="categories">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="category" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attributeGroup ref="containerAttribGrp"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="category">
		<xs:complexType>
			<xs:attribute name="id" type="CategoryID_t"/>
			<xs:attribute name="FIXMLFileName" type="Name_t"/>
			<xs:attribute name="notReqXML" type="BOOL_t"/>
			<xs:attribute name="generateImplFile" type="BOOL_t"/>
			<xs:attribute name="componentType" type="CatComponentType_t"/>
			<xs:attribute name="section" type="SectionID_t"/>
			<xs:attribute name="volume" type="Volume_t"/>
			<xs:attribute name="includeFile" type="CatIncludeFile_t"/>
			<xs:attributeGroup ref="entityAttribGrp"/>
		</xs:complexType>
	</xs:element>
	<!-- Sections definition -->
	<xs:element name="sections">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="section" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attributeGroup ref="containerAttribGrp"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="section">
		<xs:complexType>
			<xs:attribute name="id" type="SectionID_t"/>
			<xs:attribute name="name" type="Name_t"/>
			<xs:attribute name="displayOrder" type="xs:int"/>
			<xs:attribute name="volume" type="Volume_t"/>
			<xs:attribute name="notReqXML" type="BOOL_t"/>
			<xs:attribute name="FIXMLFileName" type="Name_t"/>
			<xs:attributeGroup ref="entityAttribGrp"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
