fasters/resources/repositories/FIXRepository_FIX.5.0SP2_EP254/Basic/versions.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 2 (x64) (http://www.altova.com) by Philip Oliver (Oliver Computing LLC) -->
<!--W3C Schema generated by XMLSpy v2009 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="versions">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="schemaFiles">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="schemaFile" maxOccurs="unbounded">
								<xs:complexType>
									<xs:attribute name="name" type="xs:string"/>
									<xs:attribute name="type" type="xs:string"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element ref="version" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="edition" type="xs:integer" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="version">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="repositoryFiles"/>
			</xs:sequence>
			<xs:attribute name="revisionDate" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="releaseDate" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="id" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="repositoryFiles">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="repositoryFile" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="repositoryFile">
		<xs:complexType>
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="classicName" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
