crates/rustyfix/resources/repositories/FIXRepository_FIX.5.0SP2_EP254/Basic/IntermediateRepository.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2012 rel. 2 (x64) (http://www.altova.com) by Richard Shriver (R. Shriver Associates LLC) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:annotation>
		<xs:documentation>Intermediate repository schema. Unified Repository usage is encouraged instead.</xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="repositorystructures.xsd"/>
	<xs:element name="reposAll">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Abbreviations" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Abbreviations" type="Abbreviation_cs_t" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Components" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Components" type="Component_cs_t" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Datatype" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Datatype" type="Datatype_cs_t" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Fields" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Fields" type="Field_cs_t" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Enums" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Enums" type="Enum_cs_t" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="MsgContents" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="MsgContents" type="MsgContent_cs_t" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="MsgType" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="MsgType" type="MsgType_t" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Sections" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Sections" type="Section_cs_t" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Categories" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Categories" type="Category_cs_t" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
