crates/rustyfix/resources/repositories/FIXRepository_FIX.5.0SP2_EP254/Unified/repositorytypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 rel. 2 sp2 (x64) (http://www.altova.com) by Richard Shriver (R. Shriver Associates LLC) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!-- Basic datatypes used in the extension packs -->
	<xs:simpleType name="id_t">
		<xs:restriction base="xs:integer"/>
	</xs:simpleType>
	<xs:simpleType name="textId_t">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="language_t">
		<xs:restriction base="xs:language"/>
	</xs:simpleType>
	<xs:simpleType name="changeType_t">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Editorial"/>
			<xs:enumeration value="Definitional"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Name_t">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="255"/>
			<xs:pattern value="([A-Z]|[a-z]|_)([0-9]|[A-Z]|[a-z]|_)*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Tag_t">
		<xs:restriction base="xs:positiveInteger"/>
	</xs:simpleType>
	<xs:simpleType name="FieldName_t">
		<xs:restriction base="Name_t"/>
	</xs:simpleType>
	<xs:simpleType name="Datatype_t">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="255"/>
			<xs:pattern value="([A-Z]|[a-z])([0-9]|[A-Z]|[a-z]|_|-)*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Elaboration_t">
		<xs:restriction base="xs:string">
			<xs:maxLength value="536870910"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Description_t">
		<xs:restriction base="xs:string">
			<xs:maxLength value="536870910"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Example_t">
		<xs:restriction base="xs:string">
			<xs:maxLength value="536870910"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Definition_t">
		<xs:restriction base="xs:string">
			<xs:maxLength value="536870910"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Edition_t">
		<xs:restriction base="xs:string">
			<xs:maxLength value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SymbolicName_t">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="255"/>
			<xs:pattern value="([A-Z]|[a-z]|_)([0-9]|[A-Z]|[a-z]|_)*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LenRefers_t">
		<xs:restriction base="xs:integer"/>
	</xs:simpleType>
	<xs:simpleType name="Enumeration_t">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="Group_t">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="Sort_t">
		<xs:restriction base="xs:nonNegativeInteger"/>
	</xs:simpleType>
	<xs:simpleType name="MsgType_t">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MessageName_t">
		<xs:restriction base="Name_t"/>
	</xs:simpleType>
	<xs:simpleType name="CategoryID_t">
		<xs:restriction base="Name_t"/>
	</xs:simpleType>
	<xs:simpleType name="MsgID_t">
		<xs:restriction base="xs:positiveInteger">
			<xs:maxExclusive value="1000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CompID_t">
		<xs:restriction base="xs:positiveInteger">
			<xs:minInclusive value="1000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MsgOrCompID_t">
		<xs:union memberTypes="MsgID_t CompID_t"/>
	</xs:simpleType>
	<xs:simpleType name="CatComponentType_t">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Field"/>
			<xs:enumeration value="Message"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CatIncludeFile_t">
		<xs:restriction base="xs:string">
			<xs:enumeration value="components"/>
			<xs:enumeration value="fields"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="DatatypeXML_t">
		<xs:sequence>
			<xs:element name="BuiltIn" type="BOOL_t"/>
			<xs:element name="Base" type="xs:string"/>
			<xs:element name="MinInclusive" type="xs:unsignedShort" minOccurs="0"/>
			<xs:element name="Pattern" type="xs:string" minOccurs="0"/>
			<xs:element name="Description" type="Description_t" minOccurs="0"/>
			<xs:element name="Example" type="Example_t" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="SectionID_t">
		<xs:restriction base="Name_t">
			<xs:enumeration value="Session"/>
			<xs:enumeration value="PreTrade"/>
			<xs:enumeration value="Trade"/>
			<xs:enumeration value="PostTrade"/>
			<xs:enumeration value="Infrastructure"/>
			<xs:enumeration value="Other"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ComponentName_t">
		<xs:restriction base="Name_t"/>
	</xs:simpleType>
	<xs:simpleType name="ComponentType_t">
		<xs:restriction base="Name_t">
			<xs:enumeration value="BlockRepeating"/>
			<xs:enumeration value="Block"/>
			<xs:enumeration value="XMLDataBlock"/>
			<xs:enumeration value="Message"/>
			<xs:enumeration value="ImplicitBlockRepeating"/>
			<xs:enumeration value="ImplicitBlock"/>
			<xs:enumeration value="OptimisedImplicitBlockRepeating"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TagText_t">
		<xs:restriction base="xs:string"/>
		<!-- xs:union memberTypes="Tag_t ComponentName_t" JimN 2011-05-22 - caused issues with XMLSpy XPath -->
	</xs:simpleType>
	<xs:simpleType name="UnionDataType_t">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Qty"/>
			<xs:enumeration value="Reserved100Plus"/>
			<xs:enumeration value="Reserved1000Plus"/>
			<xs:enumeration value="Reserved4000Plus"/>
			<xs:enumeration value="Tenor"/>
			<!-- JimN - added specifically for Jira RPOS-271 -->
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Version_t">
		<xs:restriction base="xs:string">
			<xs:pattern value="(FIX.2.7)|(FIX.3.0)|(FIX\.4\.[0-4])|(FIX\.5\.0(SP\d{1,2})?(_EP((9[8-9])|([1-9][0-9][0-9])))?)|(FIXT.1.1)"/>		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EP_t">
		<xs:restriction base="xs:integer"/>
	</xs:simpleType>
	<!-- following three types are currently used in Abbreviations.xsd -->
	<xs:simpleType name="Term_t">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="Usage_t">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="Abbreviation_t">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="VolumeNumber_t">
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="VolumeName_t">
		<xs:restriction base="Name_t">
			<xs:enumeration value="Volume1"/>
			<xs:enumeration value="Volume2"/>
			<xs:enumeration value="Volume3"/>
			<xs:enumeration value="Volume4"/>
			<xs:enumeration value="Volume5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Volume_t">
		<xs:restriction base="xs:string">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="6"/>
			<xs:enumeration value="FIXT.1.1"/>
			<xs:enumeration value="?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CategoryComponentType_t">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Field"/>
			<xs:enumeration value="Message"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IncludeFile_t">
		<xs:restriction base="xs:string">
			<xs:enumeration value="components"/>
			<xs:enumeration value="fields"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BOOL_t">
		<xs:restriction base="xs:short">
			<xs:enumeration value="1"/>
			<xs:enumeration value="0"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
